.card-animated {
  overflow: hidden;
  position: relative; }
  .card-animated::after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e4670f;
    top: 100%;
    left: 0;
    content: "Ver mais";
    opacity: 0.9;
    transition: all;
    transition-duration: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white; }
  .card-animated:hover::after {
    top: 0; }
